<div class="row fade-in">
  <p class="text-primary fw-bold fs-3">{{ user.name | titlecase }}</p>
  <div class="col-md-3">
    <img [src]="user.img" class="img-thumbnail slide-in-fwd-left" />
  </div>
  <div class="col-md-9">
    <ol class="list-group">
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">ID</div>
          {{ user.id }}
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Username</div>
          {{ user.username }}
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">Email</div>
          {{ user.email }}
        </div>
      </li>
    </ol>
  </div>
  <div class="mt-4">
    <button routerLink="/" class="btn btn-primary">Atrás</button>
  </div>
</div>
